  <!--Title-->
<div class="jumbotron">
    <div class="title">
        <h1 class="mongoTitle">ESPN Scraper</h3>
            <p>Let's go scrape some sports articles!</p>
            <p><a href="/scrape" class="btn btn-lg btn-danger">Scrape Away!</a></p>
    </div>
</div><!--end of jumbotron-->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Scraped Articles</h2>
        </div>
    </div>

    <!--articles go here-->
    {{#each result}}
    <div class="card news-section">
            <h4 class="card-header">{{this.title}}</h4>
        </a>
        <div class="card-block">
            <div>
                {{this.summary}}
            </div>
            <div>
               <a href="http://espn.com/{{this.link}}"> Go to Article</a> 
            </div>
            <a href="/articles/{{this._id}}" class="btn btn-primary">Comment</a>
        </div>
    </div>
    {{/each}}
 
<br>
<footer class="footer">
        <p>&copy; Brendan Ha 2017</p>
</footer>
</div>
